.container p{
    cursor: pointer;
}

.dropdown-currency {
    position: absolute;
    width: 114px;
   
    
    top: 65px;
    background: #FFFFFF;
    cursor:pointer;
    box-shadow: 2px 2px 2px 2px  #E5E5E5;
    z-index: 10;
    }


.dropdown-currency li {
list-style: none;
padding-bottom:20px;
padding-right:20px;
padding-top:5px;
font-size: 18px;
align-items:right;
font-weight: 500;

cursor:pointer;

}
