.title {
    font-size:42px;
    line-height: 67px;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 300px;
    text-transform: capitalize;
    margin-bottom: 100px;
}